*{margin:0; padding:0; font-family: sans-serif; box-sizing: border-box;}
header{
    width: 100%;
    height: 100vh;
    background: rgba(229, 216, 216, 0.988);
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
}
.logo{
    font-size: 40px;

}
.logo span{
    color: red;
}
.menu a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 10px 20px;
}
.menu a:hover{
    background: white;
    border-radius: 8px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left{
    flex-basis: 50%;
    max-width: 400px;
    padding-left: 40px;
}
.right{
    flex-basis: 70%;
}
.right img{
    width: 100%;
}
label{
    position: relative;
    background: white;

}
label img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 5px;
    width: 25px;
}
label input{
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    padding-left: 35px;
}
.line{
    line-height: 12px;
    margin: 20px 0px;
}
.box1{
    width: 15px;
    height: 15px;
    background: red;
}

.box2{
    width: 50px;
    height: 2px;
    background: red;
}

.box3{
    width: 80px;
    height: 2px;
    background: red;
}
.left h1{
    font-size: 50px;
    margin-bottom: 10px;
}
.left h2{
    color: grey;
}

.left button{
    background: none;
    outline: none;
    border: 1px solid black;
    border-radius: 10px;
    margin: 30px 0px;
    padding: 10px 20px;
}

.left button:hover{
    background: white;
    border-radius: 10px;
}
.icon img{
    width: 25px;
    margin: 0px 10px;
}